manifest {
    name = 'jjimenezgar/martini-nextflow'
    description = 'Small Martini 3 protein system setup with Nextflow DSL2'
    version = '0.1.0'
    nextflowVersion = '>=24.10.0'
}
params {
    pdb = null
    salt = 0.15
    box_distance = 1.2
    outdir = 'results'
    ff_archive = null
}
process {
    executor = 'local'
    cpus = 1
    errorStrategy = 'terminate'
    conda = "${projectDir}/environment.yml"
}
profiles {
    conda { conda.enabled = true }
    // Provide your own cluster config: nextflow run main.nf -profile conda -c cluster.config
    apptainer { apptainer.enabled = true }
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    overwrite = true
}
